.idea/
.c9/

# CakePHP 3

bitora/vendor/*
birota/config/app.php

birota/tmp/cache/models/*
!birota/tmp/cache/models/empty
birota/tmp/cache/persistent/*
!birota/tmp/cache/persistent/empty
birota/tmp/cache/views/*
!birota/tmp/cache/views/empty
birota/tmp/sessions/*
!birota/tmp/sessions/empty
birota/tmp/tests/*
!birota/tmp/tests/empty

birota/logs/*
!birota/logs/empty
